@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Archivo+Black&family=Bree+Serif&family=DynaPuff:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');


/*font-family: "Kanit", sans-serif;*/

/*font-family: "Archivo Black", sans-serif;*/

/*font-family: "Bree Serif", serif;*/

/*font-family: "ABeeZee", sans-serif;*/

/*font-family: "SUSE", sans-serif;*/

/*font-family: "DynaPuff", system-ui;*/

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{ 
    background-image: url(img/Fondo.jpg);	
}

#redes-sociales{
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); 
    width: 100%;
    height: 39px;
}

#redes-sociales ul {
    width: 900px;
    margin-left: 35px;
}

#redes-sociales ul li{
    list-style-type: none;
    float: left;
    margin-right: 9px;
    padding-right: 9px;
}
	
#contenedor{
	height: 575px;
	width: 985px;	
	margin: auto;
}

#botonera{
    height: 40px;
    background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); 
	}

#botonera ul{
   width: 900px;
   margin-left: 285px;
	}

#botonera ul li{
    width: 98px;
    float: left;
    line-height: 40px;
    list-style-type: none;
    text-align: center;
	}

#botonera ul li a{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255,255,255,1.00);
    text-decoration: none;
    text-transform: uppercase;       	
	font-family: "Kanit", sans-serif;	
	}

#botonera ul li a:hover{
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 1);
    text-align: justify;
	}

#botonera ul li:hover{
    background-color: rgba(187,187,187,0.8);	
	}

#centro{
    height: 575px;
    background-color: rgba(255,255,255,0.7);
	}

#pie{
    height: 40px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(to bottom,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	font-family: "Bree Serif", serif;
	}

#accordion{
	width: 985px;
	height: 395px;
}

#accordion h3{
    font-size: 18px;
    font-weight: 640;
	font-family: "SUSE", sans-serif;	
}

#accordion p{
	font-family: "ABeeZee", sans-serif;
	font-size: 18px;
}

#contenedor2{
	width: 985px;	
	height: 560px;	
	margin: auto;
}

#centro2{
	height: 560px;
    background-color: rgba(255,255,255,0.7);	
}
 
#Caja1{
    width: 900px;
    height: 95px;
    float: left;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 5px; 
}

#Caja1 h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: rgba(255,255,255,1.00);	
    font-family: "Archivo Black", sans-serif;
	}

#Caja1 p{
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    font-family: "ABeeZee", sans-serif;	
	}

#Caja2{
    width: 900px;
    height: 315px;
    margin-left: 45px;    
    margin-bottom: 5px; 
}

#Caja2 h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;    
  	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
	color: rgba(255,255,255,1.00);	
    font-family: "Archivo Black", sans-serif;
	}

#Caja2 p{
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
	font-family: "ABeeZee", sans-serif;
     text-align: justify;
	}

#Caja3{
    float: left;
    margin-top: 30px;
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); 
}

#Caja3 h1{
    color: rgba(255,255,255,1.00);
    text-align: center;
    font-size: 24px;
	font-family: "Archivo Black", sans-serif;
}

#Caja3 p{
    color: rgba(255,255,255,1.00);
    text-align: center;	
	font-family: "ABeeZee", sans-serif;
	font-size: 16px;
}

#Caja4{
	width: 900px;
    height: 155px;
    margin-left: 45px;    
    margin-bottom: 5px;
}

#Caja4 h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: rgba(255,255,255,1.00);
    font-family: "Archivo Black", sans-serif;
    text-align: center;
}

#Caja4 p{
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "ABeeZee", sans-serif;
    text-align: center;
}

#Caja5 {
	width: 900px;
    height: 21px;
    margin-left: 45px;    
    margin-bottom: 65px; 
}

#Caja5 h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: rgba(255,255,255,1.00);	
	font-family: "Archivo Black", sans-serif;
}   

#Caja5 p{
	font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
	text-align: center; 
	font-family: "ABeeZee", sans-serif;	
}

#Caja6{
	width: 550px;
    height: 25px;
    margin-left: 200px;  
    margin-bottom: 30px; 
}

#Caja6 h1{
	font-size: 33px;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: rgba(255,255,255,1.00);	    
	font-family: "Archivo Black", sans-serif;
}

#Caja7{
    width: 550px;
    height: 15px;
    margin-left: 200px;   
    margin-bottom: 30px;
}

#Caja7 h1{
	font-size: 33px;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    color: rgba(255,255,255,1.00);	
    font-family: "Archivo Black", sans-serif;	
}

#Caja8{
	width: 550px;
    height: 10px;
    float: left;
    margin-top: 5px;
    margin-left: 27px;
	margin-bottom: 36px; 
}

#Caja8 h1{
    font-weight: 400;
    margin-bottom: 10px;
	font-size: 30px;
  	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
	color: rgba(255,255,255,1.00);	
	font-family: "Archivo Black", sans-serif;
}

#Caja9{
	width: 315px;
    height: 220px;
    float: right;
    margin-top: 75px;
    margin-right: 51px;
	margin-bottom: 20px;
}

#Caja9 h1{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-right: -300px;
	margin-left: -130px;
	margin-top: 45px;
  	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
	color: rgba(255,255,255,1.00);	
	font-family: "Archivo Black", sans-serif;
}

article h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-left: 27px;
}

#datepicker{
	width: 315px;
    height: 230px;
    float: right;
    margin-top: 5px;
    margin-right: 27px;
	margin-bottom: 15px;
}	
	
#tabs{
    height: 350px;
    margin-top: 40px;
}
#tabs img{
	margin-top: 40px;
    margin-left: 20px;	
	border-radius: 35px;
    box-shadow: 5px 5px 6px 0px rgba(8, 8, 8, 0.7);
	}

#tabs li a{
	font-family: "SUSE", sans-serif;
	font-size: 18px;
    font-weight: 640;
	}
	
.textos3 {
	width:460px;
    float: right;
    margin-top: 90px;
    margin-right: 50px;

}


.textos3 p{
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    color: rgba(0,0,0,1.00);
    line-height: 22px;	
	font-family: "ABeeZee", sans-serif;
	
}


#contenedor3{
	width: 985px;	
	height: 500px;	
	margin: auto;
}


#centro3{
	height: 500px;
    background-color: rgba(255,255,255,0.7);
}
	
#contenedor4{
	width: 950px;	
	height: 575px;	
	margin: auto;
	}
	
	
#centro4{
		height: 575px;
    background-color: rgba(255,255,255,0.7);
		
}

section{
    height: 500px;
    background-color: rgba(255,255,255,1.00);	
}
  
article{
    height: -20px;
    width: 410px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 10px;
}

article form{
    border: 2px solid rgba(0,235,255,1.00);
    background: linear-gradient(135deg,  rgba(3,0,104,1) 0%,rgba(34,49,216,1) 99%); 
	border-radius: 10px;
	 box-shadow: 5px 5px 6px 0px rgba(8, 8, 8, 0.6);
	
	
}

form label{
    display: block;
    font-size: 20px;
    color: rgba(255,255,255,1.00);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
	font-family: "DynaPuff", system-ui;
}

form input{
    height: 30px;
    width: 350px;	
	border: solid black 1px;
	border-radius: 10px;
	margin-left: 10px;
	
}

form textarea{
    width: 350px;
	border: solid black 1px;
	border-radius: 10px;
	margin-left: 10px;
}

#enviar, #restablecer{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0,0,0,1.00);
    border: 1px solid rgba(255,255,255,1.00);
    color: rgba(255,255,255,1.00);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
	
}


#enviar:hover{
    background-color: rgba(255,30,30,0.85);
	}

#restablecer:hover{
    background-color: rgba(255,30,30,0.85);
	}


#video{
	margin-left: 35px;
    margin-top: -150px;
}

